body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}
h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  position: relative;
  display: block;
  margin: 0 auto;
  color: black;
  padding: 0 20px;
  background-color: antiquewhite;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px, 3px 3px 1px 1px rgba(0, 0, 0, 1);
}
button:hover {
  background: rgba(0, 0, 0, 1);
  color: antiquewhite;
  border: 1px solid rgba(0, 0, 0, 1);
}

.notif {
  color: black;
  background: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 25px;
  border-style: solid;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.divposition {
  width: 95%;
  margin: 0 auto;
}

.numbers {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

.formtable {
  margin-bottom: 60px;
  border-radius: 0px;
  padding: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  text-align: justify;
}

.formbutton {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 4px 20px;
  color: black;
  background-color: antiquewhite(117, 96, 68);
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px, 3px 3px 1px 1px rgba(0, 0, 0, 1);
}
formbutton:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid rgba(0, 0, 0, 1);
}

input {
  display: block;
  width: 45px;
  font-size: 14pt;
  line-height: 28pt;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 28pt;
  border: none;
  border-bottom: 4px solid black;
  background: #ffffff;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

.numberstable {
  border-style: solid;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 25px;
  background: #f7f749;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

.grid {
  display: grid;
  gap: 0.125rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.topgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  position: fixed;
  top: 12px;
  right: 30px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.footerbutton {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  position: relative;
  display: block;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px 20px;
  background-color: antiquewhite(117, 96, 68);
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px, 3px 3px 1px 1px rgba(0, 0, 0, 1);
  
}

.notification {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  position: relative;
  display: block;
  margin: 0 auto;
  color: black;
  margin-top: 10px;
  padding: 4px 20px;
  background-color: antiquewhite(117, 96, 68);
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px, 3px 3px 1px 1px rgba(0, 0, 0, 1);
}

.logo {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  margin-top: 10px;
  padding: 4px 20px;
  color: black;
  background-color: antiquewhite(117, 96, 68);
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px, 3px 3px 1px 1px rgba(0, 0, 0, 1);
  width: fit-content;
  margin-bottom: 32px;
}
